@import url("fonts/pt-sans/font.css");
@import url("fonts/pt-serif/font.css");
@import url("fonts/pt-mono/font.css");

:root {
  --font-sans: "PT Sans", sans-serif;
  --font-serif: "PT Serif", serif;
  --font-mono: "PT Mono", monospace;

  --neutral-0: light-dark(#ffffff, #000000);
  --neutral-50: light-dark(#fefefe, #0a0a0a);
  --neutral-100: light-dark(#efefef, #3d3d3d);
  --neutral-200: light-dark(#dcdcdc, #464646);
  --neutral-300: light-dark(#bdbdbd, #525252);
  --neutral-400: light-dark(#989898, #656565);
  --neutral-500: light-dark(#7c7c7c, #7c7c7c);
  --neutral-600: light-dark(#656565, #989898);
  --neutral-700: light-dark(#525252, #bdbdbd);
  --neutral-800: light-dark(#464646, #dcdcdc);
  --neutral-900: light-dark(#3d3d3d, #efefef);
  --neutral-950: light-dark(#0a0a0a, #fefefe);
  --neutral-1000: light-dark(#000000, #ffffff);

  --accent-50: light-dark(#f2f3fb);
  --accent-100: light-dark(#e7e9f8);
  --accent-200: light-dark(#d4d7f1);
  --accent-300: light-dark(#babde7);
  --accent-400: light-dark(#9e9ddc);
  --accent-500: light-dark(#8c85cf);
  --accent-600: light-dark(#796cbf);
  --accent-700: light-dark(#685ba7);
  --accent-800: light-dark(#564b88);
  --accent-900: light-dark(#48426d);
  --accent-950: light-dark(#27233a);

  --chart-pass: #2e854b;
  --chart-fail: #b52b2b;
  --chart-crash: #821d1d;
  --chart-skip: #d9a620;
  --chart-timeout: #d9a620;
  --chart-unresolved: #d9a620;

  --selection-color: light-dark(var(--neutral-950), #727073);

  --scrollbar-track-color: var(--neutral-0);
  --scrollbar-thumb-color: var(--neutral-950);
  --scrollbar-size: 8px;
}