.container {
  all: unset;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  display: contents;
}

.meta {
  display: flex;
  white-space: pre-wrap;
  font-size: 0.9rem;
}

.container:hover .title {
  text-decoration: underline 2px;
}
