.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.meta {
  display: block;
  font-size: 0.9rem;
  color: var(--neutral-800);
  white-space: pre-wrap;
  margin-bottom: 2rem;
}

.meta > * {
  display: inline-block;
}
