.container {
  all: unset;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link {
  display: contents;
}

.meta {
  display: block;
  font-size: 0.9rem;
  color: var(--neutral-800);
  white-space: pre-wrap;
}

.meta > * {
  display: inline-block;
}

.container:hover .title {
  text-decoration: underline 2px;
}
