.markdown {
  word-wrap: break-word;

  >*:first-child {
    margin-top: 0 !important;
  }

  >*:last-child {
    margin-bottom: 0 !important;
  }

  a {
    text-decoration: underline 1px;
  }

  a:hover {
    text-decoration: underline 2px;
  }

  hr {
    background-color: var(--neutral-400);
    height: 2px;
    margin: 2rem 1rem;
    border: none;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  details {
    margin-bottom: 2rem;
  }

  li li {
    margin-left: 2rem;
  }

  p>code {
    background-color: var(--neutral-50);
    outline: 0.15em solid var(--neutral-50);
  }

  pre:has(code) {
    outline: 1rem solid var(--neutral-50);
    background-color: var(--neutral-50);
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
  }

  ::-webkit-scrollbar-button:vertical:increment {
    background-color: var(--neutral-400);
  }

  ::-webkit-scrollbar-track-piece {
    background-color: var(--neutral-400);
    -webkit-border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: var(--neutral-400);
    -webkit-border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: var(--neutral-400);
    -webkit-border-radius: 3px;
  }
}